html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-padding-top: 0rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #000000;
  font-size: 2rem;
}
body.overflow-hidden {
  overflow: hidden;
}

p {
  font-size: 2rem;
  color: #000000;
  line-height: 1.5;
}

.contenedor {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0 0 5rem 0;
  font-weight: 900;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 4.6rem;
}

h3 {
  font-size: 6rem;
  text-align: center;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}

body > section {
  padding: 10rem 0;
}

.header {
  background-color: #156662;
}
.header .contenido-header {
  padding: 2rem;
}
@media (min-width: 768px) {
  .header .contenido-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.header h1 {
  color: #FFFFFF;
  text-align: center;
}
@media (min-width: 768px) {
  .header h1 {
    text-align: left;
    margin: 0;
  }
}

.navegacion-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
@media (min-width: 768px) {
  .navegacion-principal {
    flex-direction: row;
  }
}
.navegacion-principal a {
  color: #FFFFFF;
  font-size: 2.4rem;
}
.navegacion-principal a:hover {
  color: #fdda00;
}

.video {
  position: relative;
  min-height: 50rem;
  max-height: 70rem;
  overflow: hidden;
}
.video .overlay {
  position: absolute;
  background: linear-gradient(270deg, rgba(21, 102, 98, 0.6), rgba(0, 0, 0, 0.9));
  inset: 0;
  display: flex;
  align-items: center;
}
.video video {
  display: block;
  width: auto;
}
@media (min-width: 1200px) {
  .video video {
    width: 100%;
  }
}

.contenido-video {
  z-index: 10;
}
.contenido-video h2 {
  color: #FFFFFF;
  font-size: 7rem;
  margin: 0;
}
.contenido-video p {
  background-color: #F53756;
  display: inline;
  padding: 1rem 2rem;
  color: #FFFFFF;
  font-size: 2.4rem;
  font-weight: 700;
  margin: 0;
}

.sobre-portada {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .sobre-portada {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }
}

.contenido-portada h2 {
  margin-bottom: 2rem;
}
.contenido-portada .info {
  color: #156662;
}

.lineup {
  background-color: #F53756;
}
.lineup h3, .lineup .dia {
  text-align: center;
  color: #FFFFFF;
}
.lineup .dia {
  font-size: 3rem;
  text-transform: uppercase;
}

.escenarios-contenedor {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .escenarios-contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }
}

.escenario {
  padding-top: 2rem;
}
.escenario .nombre-escenario {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.calendario {
  margin: 0;
  padding: 0;
  list-style: none;
}
.calendario li {
  padding: 2.5rem;
  font-weight: 700;
}
.calendario li span {
  font-weight: 400;
}

.bg-amarillo {
  background-color: #fdda00;
}
.bg-amarillo li:nth-child(odd) {
  background-color: rgb(255, 222.9743083004, 23.5);
}

.bg-verde {
  background-color: #156662;
}
.bg-verde li:nth-child(odd) {
  background-color: rgb(25.3536585366, 123.1463414634, 118.3170731707);
}

.contenedor-boletos {
  background-color: #156662;
}
.contenedor-boletos h3 {
  color: #FFFFFF;
}
.contenedor-boletos .boletos {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .contenedor-boletos .boletos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }
}

.pase {
  transition: transform 0.3s ease-in-out;
}
.pase:hover {
  transform: scale(1.1);
}
.pase-nombre {
  font-size: 3.6rem;
  font-weight: 900;
  text-align: center;
  color: #FFFFFF;
}
.pase-header, .pase-footer {
  padding: 0.5rem;
}
.pase-header p, .pase-footer p {
  text-align: center;
  color: #FFFFFF;
  margin: 0;
}
.pase-header {
  background-color: #F53756;
}
.pase-header p {
  text-transform: uppercase;
  font-size: 2.2rem;
  padding: 1rem 0;
}
.pase-body {
  background-color: #FFFFFF;
}
.pase-body ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.pase-body ul li {
  padding: 2rem;
  border-bottom: 1px solid #e1e1e1;
}
.pase-footer {
  background-color: #FFFFFF;
  padding: 3rem;
}
.pase-footer p {
  font-size: 2.8rem;
  font-weight: 900;
  background-color: #752F97;
  padding: 1rem 0;
  border-radius: 1rem;
  cursor: pointer;
}
.pase-footer p:hover {
  background-color: rgb(56.7272727273, 22.7878787879, 73.2121212121);
}

/*# sourceMappingURL=style.css.map */
