@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #333;
  background-color: #19854f;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */
header {
  background-color: #1b8047; /* Verde principal */
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-height: 100px; /* Ajusta el tamaño del logo */
  width: auto;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* Hero Section */
.hero {
  background-color: #19854f; /* Verde oscuro */
  color: white;
}

.hero .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px; /* Espacio entre el contenido y la imagen */
}

.hero-content {
  max-width: 600px;
}

.productos-content {
  max-width: 600px;
}

.hero-content h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.hero-content .btn {
  background-color: rgb(255, 255, 255);
  color: #27ae60;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.hero-image img {
  max-width: 100%;
  border-radius: 0.3125rem; /* Bordes redondeados para la imagen */
}

/* Productos Section */
.productos {
  padding: 50px 0;
  background-color: #19854f;
}

.productos-image img {
  border-radius: 0.3125rem; /* Bordes redondeados para la imagen */
}

.productos h2 {
  text-align: center;
  margin-bottom: 40px;
}

.productos-content {
  background-color: #27ae60;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.productos-content .btn {
  background-color: #ffffff;
  color: #098a1a;
  border-color: #105028;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.productos-content h3 {
  font-size: 2em;
  margin-bottom: 10px;
}

.item {
  background-color: #ecf0f1;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.item img {
  max-width: 100%;
  border-radius: 5px;
}

.item h3 {
  margin: 15px 0 10px;
}

.item .precio {
  font-size: 1.2em;
  color: #27ae60;
  font-weight: bold;
}

/* Nosotros Section */
.nosotros {
  background-color: #2ecc71;
  color: white;
  padding: 50px 0;
  text-align: center;
}

.nosotros .container {
  display: flex;
  flex-direction: column;
}

/* Contacto Section */
.newLetter {
  padding: 100px 0;
  background-image: url("../assets/backgroundNewletter.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.container-newletter {
  margin-left: 50%;
  max-width: 300px;
  gap: 20px;
}

.contacto input, .contacto textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contacto button {
  background-color: #2ecc71;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.contacto button:hover {
  background-color: rgba(34, 119, 170, 0.9333333333);
}

/* Footer */
footer {
  background-color: #1b8047;
  color: white;
  display: flex;
  flex-direction: row;
}

footer img {
  max-width: 200px;
  background-color: #1b8047;
}

/*# sourceMappingURL=style.css.map */
